{% extends "base_generic.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block title %}詳細ページ|Shinjima.com{% endblock %}

{% block page_header %}詳細ページ{% endblock %}

{% block content %}
<article>
<div id="main" class="container">
  	<h1>{{ works.title }}</h1>
  	<ul>
      	<li>募集対象　：{{ works.condition }}</li>
      	<li>カテゴリー：{{ works.category }}</li>
      	<li>実施校地　：{{ works.canpus }}</li>
		<li>募集者　　：{{ works.publisher }}</li>
		<li>募集場所　：{{ works.location }}</li>
		<li>詳細情報　：{{ works.content }}</li>
		<li>報酬     ：{{ works.pay }}</li>
		<li>募集締切　：{{ works.dead_line }}</li>
	</ul>
	<h2>連絡先</h2>
<ul>
	<li>メールアドレス ：{{works.pub_mail }}</li>
	<li>電話  :  {{works.pub_phone }}</li>
</ul>
</div>
</article>




{% endblock %}